mixin owner(name,engName,insta,web,email,welcome)
    div.owner__info
        h1=name
        h2=engName
        if welcome
            h3=welcome
    div.owner__contact
        div.contact
            if insta
                p=insta
            if web
                p=web
            if email
                p=email